/*
#272822 - light bg
#202020 - dark bg
#f8f8f2 - light text
*/
body {
    background-color: #272822;
    color: #E4E3D3;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

.navbar {
    font-family: "Nunito", sans-serif;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #181b1a;
    padding: 0px 50px;
    align-items: center;
}

.navbar-links {
    margin-top: 1.25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links a {
    color: #f8f8f2;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}