#main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

#editor-container {
    width: 40%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

#canvas-container {
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

#editor { 
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 0;
    border-right: 3px solid #202020;
}

#fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    filter: invert(80%);
}

#fullscreen-button img {
    width: 24px;
    height: 24px;
}