body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000000;
}

canvas {
    position: absolute;
    margin-left: -10%;
    margin-top: -10%;
    height: 140%;
    width: 120%;
    z-index: 0;
}

#editor {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 40%;
    z-index: 1;
    border-right: 3px solid #202020;
}

#fullscreen-button {
    position: absolute;
    top: calc(10% + 10px);
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    filter: invert(80%);
    z-index: 2;
}

.fullscreen-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.navbar {
    font-family: "Nunito", sans-serif;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #181b1a;
    padding: 0px 50px;
    align-items: center;
}

.navbar-links {
    margin-top: 1.25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links a {
    color: #f8f8f2;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}